{% extends 'base.html' %}

{% block content %}
  <div id='rental'>
    <p class='main-title'>Rental Details</p>

    <img src='{{ rental.car.photo_url }}'/>

    {% if user.is_superuser %}
      <p style='font-size: 2.5vmin; margin-bottom: 1vmin;'>
        <strong>Customer:</strong>
        {{ rental.user.first_name }} {{ rental.user.last_name }}
        (<a href='mailto:{{ rental.user.email }}'>{{ rental.user.email }}</a>)
      </p>
    {% endif %}

    <p>
      <strong>Pickup:</strong> {{ rental.pickup_date|date:'M j Y, P' }}
      <strong>from</strong> {{ rental.car.current_store }}
    </p>
    <p>
      <strong>Car:</strong> {{ rental.car.make }} {{ rental.car.model }}
    </p>
    <p>
      <strong>License plate:</strong> {{ rental.car.license_plate }}
    </p>
    <p>
      <strong>Dropoff:</strong> {{ rental.dropoff_date|date:'M j Y, P' }}
      <strong>at</strong> {{ rental.dropoff_location }}
    </p>
    <p>
      <strong>Rental fee:</strong> ${{ rental.rental_fee|floatformat:2 }}
    </p>

    {% if allow_edit_delete %}
      <form action='{% url "rentals_edit" rental.id %}' method='POST'>
        {% csrf_token %}
        <button type='submit'>Edit</button>
      </form>
      <form action='{% url "rentals_delete" rental.id %}' method='POST'>
        {% csrf_token %}
        <button type='submit'>Delete</button>
      </form>
    {% endif %}
  </div>
{% endblock %}
