{% extends 'base.html' %}

{% block content %}
  <h1>New Rental</h1>

  <form action='{% url "rentals_create" %}' method='POST'>
    {% csrf_token %}

    <p>
      <label>Car:</label>
      <select name='car'>
        <option value=''>Select a car</option>
        {% for car in cars %}
          {% if car.current_store.name == request.session.selected_store %}
            <option value='{{ car.id }}'>{{ car.make }} {{ car.model }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </p>

    <p>
      <label>Pick up date:</label>
      <input type='datetime-local' name='pickup_date'>
    </p>

    <p>
      <label>Drop off date:</label>
      <input type='datetime-local' name='dropoff_date'>
    </p>

    <p>
      <label>Drop off location:</label>
      <select name='dropoff_location'>
        <option value=''>Select a store</option>
        {% for store in stores %}
          <option value='{{ store.id }}'>{{ store.name }}</option>
        {% endfor %}
      </select>
    </p>
    
    <button type='submit'>Confirm</button>
  </form>
{% endblock %}
