{% extends "base.html" %}

{% block content %}
<h1>New Rental</h1>

<form action="{% url 'rentals_create' %}" method="POST">
    {% csrf_token %}
    <label class="form-text">Car</label>
    <select name="car">
        {% for car in cars %}
            {% if car.current_store.name == request.session.selected_store %}
                <option value="{{ car.id }}">{{ car.make }}</option>
            {% endif %}
        {% endfor %}
        <button type="submit">Submit</button>
    </select>
    <br>
    <label class="form-text">Pick Up Date:</label>
    <input type="datetime-local" name="pickup_date">
    <br>
    <label class="form-text">Drop Off Date:</label>
    <input type="datetime-local" name="dropoff_date">
    <br>
    <label class="form-text">Drop Off Location:</label>
    <select name="dropoff_location">
        <option value="">Select A Location</option>
        {% for store in stores %}
            <option value="{{ store.id }}">{{ store.name }}</option>
        {% endfor %}
        <button type="submit">Submit</button>
    </select>
<br><br>
<button type="submit">Confirm</button>
</form>

<form id="guess" name="guess"></form>


{% endblock %}