{% extends 'base.html' %}

{% block content %}
  <div id='user-profile'>
    <p class='main-title'>Your Profile</p>

    <div class='user-rentals'>
      <p class='section-title'>Your Upcoming Rentals</p>

      {% for rental in upcoming_rentals %}
        <a class='user-rental' href='{% url "rentals_detail" rental.id %}'>
          <span class='user-rental-pickup'>
            {{ rental.pickup_date|date:'M j Y' }}&nbsp;&nbsp;&nbsp;{{ rental.car.current_store }}
          </span>
          <span class='user-rental-dropoff'>
            &nbsp;&rarr;&nbsp;&nbsp;{{ rental.dropoff_location }}&nbsp;&nbsp;&nbsp;{{ rental.dropoff_date|date:'M j Y' }}
          </span>
        </a>  
      {% endfor %}
    </div>

    <div class='user-rentals'>
      <p class='section-title'>Current Rentals</p>

      {% for rental in rentals %}

          <a class='user-rental' href='{% url "rentals_detail" rental.id %}'>
            <span class='user-rental-pickup'>
              {{ rental.pickup_date|date:'M j Y' }}&nbsp;&nbsp;&nbsp;{{ rental.car.current_store }}
            </span>
            <span class='user-rental-dropoff'>
              &nbsp;&rarr;&nbsp;&nbsp;{{ rental.dropoff_location }}&nbsp;&nbsp;&nbsp;{{ rental.dropoff_date|date:'M j Y' }}
            </span>
          </a>  

      {% endfor %}
    </div>

    <div class='user-rentals'>
      <p class='section-title'>Your Past Rentals</p>

      {% for rental in past_rentals %}
        <a class='user-rental' href='{% url "rentals_detail" rental.id %}'>
          <span class='user-rental-pickup'>
            {{ rental.pickup_date|date:'M j Y' }}&nbsp;&nbsp;&nbsp;{{ rental.car.current_store }}
          </span>
          <span class='user-rental-dropoff'>
            &nbsp;&rarr;&nbsp;&nbsp;{{ rental.dropoff_location }}&nbsp;&nbsp;&nbsp;{{ rental.dropoff_date|date:'M j Y' }}
          </span>
        </a>  
      {% endfor %}
    </div>
  </div>
{% endblock %}
