{% extends 'base.html' %}

{% block content %}
  <div id='cars'>
    <p class='main-title'>Our Cars</p>
    
    {% for car in cars %}
      {% if not request.session.selected_store %}
      <a class='car-list-item' href='{% url "cars_detail" car.id %}'>
        <img src='{{ car.photo_url }}'/>
        {{ car.make }} {{ car.model }}
        </a>
      {% elif car.current_store.name == request.session.selected_store %}
        <a class='car-list-item' href='{% url "cars_detail" car.id %}'>
        <img src='{{ car.photo_url }}'/>
        {{ car.make }} {{ car.model }}
        </a>
      {% endif %}
      <!-- {% if user.is_superuser %}
        <form action='{% url "edit_car"  %}' method='POST'>
          {% csrf_token %}
          <button type='submit'>Edit</button>
        </form>
        <form action='{% url "delete_car" %}' method='POST'>
          {% csrf_token %}
          <button type='submit'>Delete</button>
        </form>
      {% endif %} -->
    {% endfor %}
    
  </div>
{% endblock %}
