{% extends 'base.html' %}

{% block content %}
  <h1>Update Car</h1>
  <form action='{% url "update_car"   %}' method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <p>
     
       <p>
        <label>Car Make:</label>
        <input type='text' name='make' value="{{car.make}}" >
      </p>
      <p>

        <label>Car  Model:</label>
        <input type='text' name='model'  value="{{car.model}}">
      </p>
      <p>
        <label>Year:</label>
        <input type='text' name='year' value="{{car.year}}" >
      </p>
      <p>
        <label> License Plate:</label>
        <input type='text' name='license_plate'>
      </p>
      <p>
        <label> Mileage:</label>
        <input type='text' name='mileage' >
      </p>
      <p>
        <label>Current Store:</label>
        <select name='current_store'>
          <option value=''>Select a store</option>
          {% for store in stores %}
            <option value ='{{store.id}}' >{{ store.name }}</option>
          {% endfor %}
        </select>
      </p>
      <p>
        <label> Photo:</label>
        <input type='file' name='photo-file' >
      </p>
   
    <button type='submit'>Confirm</button>
  </form>

{% endblock %}
