{% extends 'base.html' %}

{% block content %}
  <div>
    <p>About Us</p>
  </div>

  <div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio distinctio pariatur quo error aliquam veniam at, ducimus quis eos molestias! Eius enim ad odio magnam voluptate assumenda quaerat, aliquid, omnis, accusantium delectus voluptatibus veritatis temporibus? Ex voluptatum libero, minima vero, a eligendi itaque dolor ratione voluptatem voluptates iure quasi est aut sed consequatur necessitatibus possimus, modi neque dolorum nesciunt assumenda porro totam dolores. Provident assumenda soluta iusto placeat, consectetur natus pariatur sapiente atque. Aliquam, recusandae. Totam doloremque minima suscipit facilis quae nemo numquam, magni iste alias delectus architecto cumque in ipsam, laudantium odio. Culpa nulla sapiente est repellendus? Minima, vitae.</p>
  </div>
{% endblock %}
