{% extends 'base.html' %}

{% block content %}
  <div id='about'>
    <p class='main-title'>About Us</p>

    <p class='main-content'>
      <strong>Luxury Leases</strong> curates a collection of the most fantastic, impressive, powerful, and classy luxury vehicles on the market, and makes these magnificent machines available for rental at branch offices across the United States. When you really need your road trip to exude glitz, glamour, and pizzazz, look no further than our catalogue. We promise that your time on the road behind the wheel of a <strong>Luxury Leases</strong> car will be smooth and sleek, leaving an unforgettable impression. Make your trip extra special and rent with us today!
    </p>
  </div>
{% endblock %}
