{% load static %}

<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
  <title>Luxury Leases</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">

  <link rel='stylesheet' href='{% static "css/style.css" %}'/>
</head>

<body>
  <nav>
    <a id='logo' href='{% url "home" %}'>Luxury Leases</a>

    <div id='nav-links'>
      {% if user.is_authenticated %}
        <div id='nav-welcome'>
          <div id='nav-welcome-contents'>
            <span id='nav-welcome-label'>Welcome,</span> 
            <span id='nav-welcome-username'>
              {{ user.first_name }} {{ user.last_name }}
            </span>
          </div>
        </div>
      {% endif %}

      <a class='nav-link' href='{% url "about" %}'>About</a>

      {% if user.is_authenticated %}
        <a class='nav-link' href='{% url "users_detail" user.id %}'>Your Profile</a>
        <a class='nav-link' href='{% url "cars_index" %}'>Our Cars</a>

        {% if request.session.selected_store %}
          <a class='nav-link nav-store' href='{% url "stores_index" %}'>{{ request.session.selected_store }}</a>
          <a class='nav-link' href='{% url "rentals_new" %}'>Rent a Car</a>
        {% else %}
          <a class='nav-link' href='{% url "stores_index" %}'>Choose a Store</a>
        {% endif %}

        <form action='{% url "logout" %}' method='POST'>
          {% csrf_token %}
          <button type='submit'>Log Out</button>
        </form>

      {% else %}
        <a class='nav-link' href='{% url "signup" %}'>Sign Up</a>
        <a class='nav-link' href='{% url "login" %}'>Log In</a>
      {% endif %}
    </div>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>

</html>
