{% load static %}

<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
  <title>Luxury Leases</title>
  <link rel='stylesheet' href='{% static "css/style.css" %}'/>
</head>

<body>
  <nav>
    <a href='{% url "home" %}'>Luxury Leases</a>
    <a href='{% url "about" %}'>About</a>

    {% if user.is_authenticated %}
      <a href='{% url "users_detail" user.id %}'>Your Profile</a>
      <a href='{% url "cars_index" %}'>Our Cars</a>

      {% if request.session.selected_store %}
        <a href='{% url "stores_index" %}'>{{ request.session.selected_store }}</a>
        <a href='{% url "rentals_new" %}'>Rent a Car</a>
      {% else %}
        <a href='{% url "stores_index" %}'>Choose a Store</a>
      {% endif %}

      <form action='{% url "logout" %}' method='POST'>
        {% csrf_token %}
        <button type='submit'>Log Out</button>
      </form>

    {% else %}
      <a href='{% url "signup" %}'>Sign Up</a>
      <a href='{% url "login" %}'>Log In</a>
    {% endif %}
    </ul>
  </nav>

  {% block content %}{% endblock %}
</body>

</html>
