{% extends "base.html" %}

{% block content %}
  <div class='m-4 p-5 bg-secondary text-white rounded'>
    <p class='fs-1 fw-bold text-center'>Luxury Leases</p>
  </div>

  <div class='w-75 mx-auto'>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat, ab autem aut officiis ipsum ex ea esse rerum saepe error explicabo, ipsa repellat dolores provident quis voluptas fugiat maxime ducimus incidunt nihil quos a architecto, dicta rem? Amet distinctio facilis accusantium facere voluptatibus, culpa ipsum porro eaque minus consectetur eius expedita itaque perferendis laudantium tempora minima, beatae quae magnam voluptates odio ad dolore praesentium numquam harum. Dolores quidem minima vitae blanditiis eius quae. Obcaecati velit perferendis quae dolores aliquid optio amet, ut tenetur quas, quisquam corrupti modi laboriosam ea, nihil ex ab quo repellendus similique consequatur fugiat molestias inventore error!</p>
  </div>
{% endblock %}
