{% extends 'base.html' %}

{% block content %}
  <div id='home'>
    <img id='home-img' src='{{ img_url }}'/>

    <p id='home-logo'>Luxury Leases</p>

    <p class='tagline'>
      Style, elegance, sophistication, grace ...<br/>
      <em>on a set of four majestic wheels.</em><br/>
    </p>

    <p class='main-content'>
      You've got somewhere to be ... <em>and be seen.</em> You've got someone to pick up ... <em>and impress.</em><br/>
      We know the drill, and we've got you covered. Make a bold impression with a rental from <strong>Luxury Leases</strong>.
    </p>
  </div>
{% endblock %}
