:root {
  /*===== COLORS =====*/
  /* --base-layer: #4a5acd88; */
  --base-layer: #006daf55;
  --form-input-bgcol: #eff;
  --main-text-col: #011;
  --nav-link-col: #002e4a;
  --nav-link-hover-bgcol: #eff;

  /*===== RULES =====*/
  --transition: 0.15s ease-in-out;
}


/*===== GLOBAL =====*/

* {
  box-sizing: border-box;
  cursor: default;
  margin: 0;
}

body {
  background-color: var(--base-layer);
  font-family: Lato, sans-serif;
  height: 100vh;
}

main {
  color: var(--main-text-col);
  font-size: 2vmin;
  height: calc(100vh - 6vmin);
  line-height: 1.6;
  padding: 3vmin 24vmin 0;
}

.main-title, main > h1 {
  border-bottom: 1px solid var(--base-layer);
  display: block;
  font-size: 4vmin;
  font-weight: bold;
  margin-bottom: 3vmin;
}

.section-title {
  border-bottom: 1px solid var(--base-layer);
  font-size: 3vmin;
  margin-bottom: 2vmin;
}


/*===== FORMS =====*/

form input, form select {
  background-color: var(--form-input-bgcol);
  border: none;
  border-radius: 0.25vmin;
  color: inherit;
  font-family: inherit;
  font-size: 2vmin;
  padding: 0.25vmin 0.5vmin;
}

form input:focus {
  outline: none;
}

form > p {
  display: grid;
  gap: 2vmin;
  grid-template-columns: 30% 50%;
  margin-top: 2vmin;
}

form > p:empty {
  display: none;
}

form > p > label {
  text-align: right;
}

form > p > span {
  font-size: 1.5vmin;
  grid-column: span 2;
  margin: -1vmin 0 0;
  padding-left: 40%;
}

form > ul {
  font-size: 1.5vmin;
  margin: -1vmin 0;
  padding-left: 35%;
}

form > ul > li {
  margin-top: -0.5vmin;
}

form > button {
  background-color: var(--base-layer);
  border: none;
  border-radius: 0.75vmin;
  color: var(--nav-link-col);
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 2vmin;
  margin: 2.5vmin auto;
  padding: 0.5vmin 1.5vmin;
  transition: var(--transition);
}

form > button:hover {
  background-color: var(--nav-link-hover-bgcol);
}


/*===== NAV =====*/

nav {
  align-items: center;
  background-color: var(--base-layer);
  box-shadow: 0 0.35vmin 0.75vmin #001;
  display: flex;
  height: 6vmin;
  justify-content: space-between;
  padding: 0 4vmin;
}

nav > #logo {
  color: var(--nav-link-col);
  cursor: pointer;
  font-family: 'Oleo Script';
  font-size: 4.5vmin;
  font-weight: bold;
  letter-spacing: 0.2vmin;
  text-decoration: none;
  transition: var(--transition);
}

nav > #logo:hover {
  color: var(--nav-link-hover-bgcol);
}

nav > #nav-links > #nav-welcome {
  display: inline-block;
  vertical-align: top;
  margin-right: 1.5vmin;
}

#nav-welcome > #nav-welcome-contents {
  color: var(--nav-link-col);
  display: flex;
  flex-direction: column;
}

#nav-welcome > #nav-welcome-contents > #nav-welcome-label {
  font-size: 1.1vmin;
}

#nav-welcome > #nav-welcome-contents > #nav-welcome-username {
  font-size: 1.85vmin;
  font-weight: bold;
  margin-top: -0.35vmin;
}

nav #nav-links > .nav-link,
nav #nav-links > form > button {
  background-color: var(--base-layer);
  border-radius: 0.75vmin;
  color: var(--nav-link-col);
  cursor: pointer;
  display: inline-block;
  font-size: 1.75vmin;
  margin: unset;
  margin-left: 1.25vmin;
  padding: 0.5vmin 1.25vmin;
  text-decoration: none;
  transition: var(--transition);
}

nav #nav-links > .nav-link:hover,
nav #nav-links > form > button:hover {
  background-color: var(--nav-link-hover-bgcol);
}

nav > #nav-links > form {
  display: inline-block;
  height: 0;
}

nav > #nav-links > .nav-store {
  background-color: var(--nav-link-col);
  color: var(--nav-link-hover-bgcol);
}

nav > #nav-links > .nav-store:hover {
  color: var(--nav-link-col);
}


/*===== HOME =====*/

#home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
}

#home > #home-img {
  opacity: 0.1;
  position: fixed;
  width: 90vw;
  z-index: -1;
}

#home > #home-logo {
  color: var(--base-layer);
  font-family: 'Oleo Script';
  font-size: 10vmin;
  letter-spacing: 0.4vmin;
  margin-bottom: 4vmin;
}

#home > .main-content {
  font-weight: bold;
}


/*===== CARS =====*/

#cars img {
  height: 10vmin;
  margin-right: 2vmin;
  object-fit: contain;
  width: 15vmin;
}

#cars > .car-list-item {
  align-items: center;
  border-radius: 1vmin;
  color: inherit;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  transition: var(--transition);
}

#cars > .car-list-item:hover {
  background-color: var(--base-layer);
  color: var(--nav-link-hover-bgcol);
  font-weight: bold;
  transform: scale(1.02);
}

#car-detail > img {
  display: block;
  margin: 0 auto;
  width: 65%;
}


/*===== STORES =====*/

#stores form > button {
  width: 30vmin;
  margin: 0 auto 3vmin 0;
}

#stores > .store {
  display: flex;
  margin-bottom: 4vmin;
}

.map {
  border-radius: 1vmin;
  box-shadow: 0.5vmin 0.5vmin 0.5vmin var(--base-layer);
  height: 24vmin;
  margin-right: 2vmin;
  width: 40vmin;
  z-index: 10;
}


/*===== USER PROFILE =====*/

#user-profile > .user-rentals,
#car-detail > .user-rentals {
  background-color: var(--base-layer);
  border-radius: 1vmin;
  margin-bottom: 3vmin;
  padding: 2vmin;
  width: 100%;
}

#user-profile > .user-rentals > .user-rental,
#car-detail > .user-rentals > .user-rental {
  color: inherit;
  display: block;
  margin-top: 0.5vmin;
  text-decoration: none;
  transition: var(--transition);
}

#user-profile > .user-rentals > .user-rental:hover,
#car-detail > .user-rentals > .user-rental:hover {
  color: var(--nav-link-hover-bgcol);
}

.user-rental > span {
  cursor: pointer;
}

.user-rental > .user-rental-pickup {
  font-weight: bold;
}

.user-rental > .user-rental-dropoff {
  font-size: 1.75vmin;
}


/*===== RENTAL DETAIL =====*/

#rental img {
  width: 40%;
}

#rental form {
  display: inline-block;
  margin-right: 1.25vmin;
}


/*===== RESPONSIVE =====*/

@media only screen and (max-width: 1150px) {
  main {
    height: calc(100vh - 12vmin);
    padding: 3vmin 8vmin 0;
  }

  nav {
    flex-direction: column;
    height: 12vmin;
    justify-content: unset;
  }

  nav > #nav-links {
    margin-top: 0.75vmin;
  }
}
